@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #242424;
}

.text-responsive {
  font-size: clamp(25px, 5vw, 45px);
}

/* Font Familly */
@font-face{
  font-family: "Bison";
  src: url("./assets/fonts/Bison Light/Bison-Light.ttf") format("truetype"),
       url("./assets/fonts/Bison Light/Bison-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face{
  font-family: "Bison";
  src: url("./assets/fonts/Bison Light Italic/Bison-LightItalic.ttf") format("truetype"),
       url("./assets/fonts/Bison Light Italic/Bison-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face{
  font-family: "Bison";
  src: url("./assets/fonts/Bison Regular/Bison-Regular.ttf") format("truetype"),
       url("./assets/fonts/Bison Regular/Bison-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: "Bison";
  src: url("./assets/fonts/Bison Regular Italic/Bison-RegularItalic.ttf") format("truetype"),
       url("./assets/fonts/Bison Regular Italic/Bison-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face{
  font-family: "Bison";
  src: url("./assets/fonts/Bison DemiBold/Bison-DemiBold.ttf") format("truetype"),
       url("./assets/fonts/Bison DemiBold/Bison-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face{
  font-family: "Bison";
  src: url("./assets/fonts/Bison DemiBold Italic/Bison-DemiBoldItallic.ttf") format("truetype"),
       url("./assets/fonts/Bison DemiBold Italic/Bison-DemiBoldItallic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}


@font-face{
  font-family: "Bison";
  src: url("./assets/fonts/Bison Bold/Bison-Bold.ttf") format("truetype"),
       url("src/assets/fonts/Bison Bold/Bison-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face{
  font-family: "Bison";
  src: url("./assets/fonts/Bison Bold Italic/Bison-BoldItallic.ttf") format("truetype"),
       url("./assets/fonts/Bison Bold Italic/Bison-BoldItallic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}